body {
	background-image: url('http://imgwallpaper.info/download/20150809/minimalism-men-computer-dogs-clock-guitar-1920x1080.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#header{
	margin-bottom: 60px;
	background-color: #c5cfad;
	color: black;

}

nav .brand-logo {
	color: black;
	font-weight: bold;
}

nav ul a {
	color: black;
	font-weight: bold;
}

.title {
	background: #c5cfad; 
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.listing{
	margin-bottom: 20px;
	background: white;
}

.listing span {
	font-weight: bold;
	color: black;
}

.listing button {
	display: inline-block;
	margin: 15px 0;
}

button a {
	color: black;
}


#notes {
	height: 231px;
	overflow: auto;
}


.header{
	color: white;
}
