body {
	background-image: url('http://wallpapercave.com/wp/Je34b2j.jpg');
    background-attachment: fixed;
}

.container{
	width: 60%;
}

.title {
	background: grey; 
	font-size: 30px;
	color: white;
}

.listing{
	margin-bottom: 20px;
	background: white;
}

.listing span {
	font-weight: bold;
	color: black;
}

.listing button {
	display: block;
}


#notes {
	height: 231px;
	overflow: auto;
}

.header{
	color: white;
}
